<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		
		<!-- Conexión Bruno
		 <add name="PastaFlowDB"
		   connectionString="Server=DESKTOP-QT5AS2E\SQLEXPRESS;Database=PastaFlowBD_Backup2;Trusted_Connection=True;"
		   providerName="System.Data.SqlClient" />  -->

		<!-- Conexión Cristian 
		
		  <add name="PastaFlowDB"
		   connectionString="Server=CRISTIAN-PC\SQLEXPRESS01;Database=PastaFlowBD_Backup2;Trusted_Connection=True;"
		   providerName="System.Data.SqlClient" /> 
		 -->
		
		
	</connectionStrings>

</configuration>